<div class="settings">
  <select><option>Brewmaster Monk</option></select>
  {{input placeholder="Primary stat weight"}}
  {{input placeholder="Critical strike weight"}}
  {{input placeholder="Haste weight"}}
  {{input placeholder="Mastery weight"}}
  {{input placeholder="Versatility weight"}}
  {{input type="submit" value="Find best loot"}}
</div>
{{outlet}}
{{#link-to "settings.results"}}results test{{/link-to}}
