<div class="settings">
  {{#x-select value=currentSpecialisation name="spec" on-change=(action 'selectSpecialisation') as |xs|}}
    {{#each specialisations as |specialisation|}}
       {{#xs.option value=specialisation.label}}{{specialisation.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  {{input placeholder="Primary stat weight" value=weightPrimary}}
  {{input placeholder="Critical strike weight" value=weightCritical}}
  {{input placeholder="Haste weight" value=weightHaste}}
  {{input placeholder="Mastery weight" value=weightMastery}}
  {{input placeholder="Versatility weight" value=weightVersatility}}
  {{input type="submit" value="Find best loot" click=(action "showResults")}}
</div>
{{outlet}}
<div class="results">
  <b>Spec</b>: {{currentSpecialisation}}, <b>Primary weight</b>: {{weightPrimary}},
  <b>Critical strike weight</b>: {{weightCritical}}, <b>Haste weight</b>: {{weightHaste}},
  <b>Mastery weight</b>: {{weightMastery}}, <b>Versatility weight</b>: {{weightVersatility}}
</div>
<p>{{#link-to "settings.results"}}results test{{/link-to}}</p>
