<div class="settings">
  {{#x-select value=currentSpecialisation name="spec" on-change=(action 'selectSpecialisation') as |xs|}}
    {{#each specialisations as |specialisation|}}
       {{#xs.option value=specialisation.label}}{{specialisation.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  {{input placeholder="Primary stat weight"}}
  {{input placeholder="Critical strike weight"}}
  {{input placeholder="Haste weight"}}
  {{input placeholder="Mastery weight"}}
  {{input placeholder="Versatility weight"}}
  {{input type="submit" value="Find best loot"}}
</div>
{{outlet}}
<div class="results">
  <b>Spec</b>: {{currentSpecialisation}}
</div>
<p>{{#link-to "settings.results"}}results test{{/link-to}}</p>
